h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 100px;
}

.bold-paragraph {
  color: #fb1919;
}

#bold {
  background-color: #fb1919;
  color: rgb(235, 232, 171);
}

img {
  width: 50%;
}
